<h1>Login</h1>
<form (ngSubmit)="submit()" #form="ngForm">
    <div class="alert alert-danger" role="alert" [hidden]="!loginError">Invalid username and/or password!</div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" class="form-control" [(ngModel)]="model.username" required="required" autofocus="autofocus" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" class="form-control" [(ngModel)]="model.password" required="required" />
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid || submitting">Submit</button>
</form>