<div *ngIf="panel">
    <h1 *ngIf="panel.headline">{{panel.headline}}</h1>
    <div *ngIf="panel.type == 'TEXT'" class="discooze-panel discooze-panel-text lead">{{panel.content}}</div>
    <div *ngIf="panel.type == 'HTML'" [innerHTML]="panel.content" class="discooze-panel discooze-panel-html lead"></div>
    <div *ngIf="panel.type == 'IMAGE'" class="discooze-panel discooze-panel-image"><img [src]="sanitizer.bypassSecurityTrustResourceUrl(panel.content)" /></div>
    <div *ngIf="panel.type == 'YOUTUBE'" class="discooze-panel discooze-panel-youtube">
        <iframe id="ytplayer" type="text/html" [src]="sanitizer.bypassSecurityTrustResourceUrl('//www.youtube.com/embed/' + panel.content)" frameborder="0"></iframe>
    </div>
    <div *ngIf="panel.footer" class="discooze-panel-footer">{{panel.footer}}</div>
    <div class="discooze-panel-comments">
        <div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ 'PANEL.YOUR_COMMENT' | translate }}</h4>
                    <div class="alert alert-success" role="alert" [hidden]="!success">{{ 'PANEL.COMMENT_PUBLISHED' | translate }}</div>
                    <form (ngSubmit)="submit()" #form="ngForm" [hidden]="success">
                        <div class="form-group">
                            <textarea class="form-control" name="text" id="text" required="required" [(ngModel)]="text"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><img src="/img/ic_add_a_photo_black_24px.svg" /></span>
                                <label class="custom-file form-control">
                                    <input type="file" id="file" class="form-control custom-file-input" accept="image/*" placeholder="{{ 'PANEL.PLACEHOLDER_UPLOAD' | translate }}" (change)="fileChange($event)" />
                                    <span class="custom-file-control"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="sessionService.isLoggedIn">
                            <div class="input-group">
                                <div class="input-group-addon"><img src="/img/ic_face_black_24px.svg" /></div>
                                <input readonly="readonly" class="form-control" value="{{sessionService.user.displayName}} ({{sessionService.user.username}})" style="background-color:white" />
                            </div>
                        </div>
                        <div class="form-group" *ngIf="!sessionService.isLoggedIn">
                            <div class="input-group">
                                <div class="input-group-addon"><img src="/img/ic_face_black_24px.svg" /></div>
                                <input type="text" id="username" name="username" placeholder="{{ 'PANEL.PLACEHOLDER_USER' | translate }}" class="form-control" [(ngModel)]="username" required="required" />
                            </div>
                            <small class="form-text text-danger" *ngIf="authError">{{ 'PANEL.INVALID_USER_PASS' | translate }}</small>
                        </div>
                        <div class="form-group" *ngIf="!sessionService.isLoggedIn && requirePassword">
                            <div class="input-group">
                                <div class="input-group-addon"><img src="/img/ic_vpn_key_black_24px.svg" /></div>
                                <input type="password" id="password" name="password" placeholder="{{ 'PANEL.PLACEHOLDER_PASS' | translate }}" class="form-control" [(ngModel)]="password" />
                            </div>
                            <small class="form-text text-muted">{{ 'PANEL.PASSWORD_REQUIRED' | translate }}</small>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="!form.valid || submitting">{{ 'PANEL.SUBMIT_COMMENT' | translate }}</button>
                    </form>
                </div>
            </div>
        </div>
        <div *ngFor="let comment of comments">
            <div class="card">
                <img class="card-img-top h-100" [src]="commentService.getAttachmentUrl(comment.id)" *ngIf="comment.hasAttachment" />
                <div class="card-body">
                    <h4 class="card-title">{{comment.author.displayName}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{comment.created}}</h6>
                    <p class="card-text">{{comment.text}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="!comments || !comments.length">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ 'PANEL.NO_COMMENTS' | translate }}</h4>
                    <p class="card-text">{{ 'PANEL.PUBLISH_COMMENT_TEASER' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
<div *ngIf="errorLoading">
    {{ 'PANEL.PANEL_NOT_FOUND' | translate }}
</div>