<div class="row">
    <div class="col-md-8"><h1>Panels</h1></div>
    <div class="col-md-4">
            <a routerLink="/_admin/panels/new" class="btn btn-secondary">New</a>
            <a routerLink="/_admin" class="btn btn-secondary">Admin</a>
    </div>
</div>
<table class="table table-hover" [hidden]="!entities || !entities.length">
    <thead>
        <tr>
            <th>Title</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let panel of entities" class="clickable" (click)="showEntity(panel.id)">
            <td>{{panel.title}}</td>
            <td>{{panel.url}}</td>
        </tr>
    </tbody>
</table>
<p [hidden]="!entities ||entities.length">
    No records found.
</p>