<div class="page-header">
    <div class="btn-toolbar pull-right">
        <button type="button" class="btn btn-danger btn-lg" (click)="delete()" [hidden]="!entity.uuid" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
        <a routerLink="/_admin/panels" class="btn btn-primary btn-lg" title="Show all">List</a>
        <a routerLink="/_admin/brokers/new" class="btn btn-primary btn-lg" [hidden]="!entity.uuid" title="Add new">Add</a>
    </div>
    <h1 [hidden]="entity.uuid">Add Broker</h1>
    <h1 [hidden]="!entity.uuid">Edit Broker</h1>
</div>
<form (ngSubmit)="submit()" #form="ngForm">
    <div class="alert alert-success" role="alert" [hidden]="!success">Panel saved successfully.</div>
    <div class="alert alert-danger" role="alert" [hidden]="!error">Error saving panel. Please try again.</div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="Panel Title" class="form-control" [(ngModel)]="entity.title" required="required" autofocus="autofocus" />
    </div>
    <div class="form-group">
        <label for="url">URL</label>
        <input type="url" id="url" name="url" placeholder="Panel URL" class="form-control" [(ngModel)]="entity.url" required="required" />
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" name="type" id="type" [(ngModel)]="entity.type" required="required">
            <option value="TEXT">Plain Text</option>
            <option value="HTML">HTML</option>
            <option value="IMAGE">Image</option>
            <option value="YOUTUBE">YouTube</option>
        </select>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" name="content" id="content" required="required" [(ngModel)]="entity.content"></textarea>
    </div>
    <div class="form-group">
        <label for="headline">Headline (optional)</label>
        <input type="text" id="headline" name="headline" placeholder="Headline" class="form-control" [(ngModel)]="entity.headline" />
    </div>
    <div class="form-group">
        <label for="footer">Footer (optional)</label>
        <input type="text" id="footer" name="footer" placeholder="Footer" class="form-control" [(ngModel)]="entity.footer" />
    </div>
    <a routerLink="/_admin/panels" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid || submitting"><span class="glyphicon glyphicon-ok"></span> Save</button>
</form>