<div class="row">
    <div class="col-md-8"><h1>Users</h1></div>
    <div class="col-md-4">
            <a routerLink="/_admin/users/new" class="btn btn-secondary">New</a>
            <a routerLink="/_admin" class="btn btn-secondary">Admin</a>
    </div>
</div>
<table class="table table-hover" [hidden]="!entities || !entities.length">
    <thead>
        <tr>
            <th>Username</th>
            <th>Display Name</th>
            <th>Admin</th>
            <th>Login</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of entities" class="clickable" (click)="showEntity(user.id)">
            <td>{{user.username}}</td>
            <td>{{user.displayName}}</td>
            <td>{{user.roleAdmin ? "Yes" : "No"}}</td>
            <td>{{user.loginType}}</td>
        </tr>
    </tbody>
</table>
<p [hidden]="!entities ||entities.length">
    No records found.
</p>